{
    "extends": [
        "stylelint-config-standard"
    ],
    "rules": {
        "at-rule-no-unknown": [
            true, {
                ignoreAtRules: [ "extend", "function", "return", "include", "each", "mixin", "for", "if", "else", "elseif", "error", "content" ]
            }
        ]
    }
}
