///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

$white: #fff;
$catskill-white: #f7f9fb;
$french-pass: #93aac9;
$cloud-burst: #25365d;
$radical-red: #ff2868;
$scorpion: #5a5a5a;
$lochmara: #028bd3;

$color-paragraph: $french-pass;

$blue-primary: $cloud-burst;

$background-primary: $catskill-white;

$font-color: $scorpion;
